header {

    padding: 10px;
}

h2 {

    margin-top: 10px;
    padding: 10px;
    color: darkblue;
}

h3 {

    margin-top: 5px;
    padding: 10px;
    color: darkblue;
}

h4 {

    margin-top: 5px;
    padding: 10px;
    color: darkblue;
}

.custom-search {
  position: relative;
}

.custom-search-input {
  width: 100%;
  padding-right: 100px !important;
  box-sizing: border-box;
}

.custom-search-botton {
  position: absolute;
  right: 1px;
  top: 1px;
  bottom: 1px;
  z-index: 4;
  border: none;
  border-radius: 0;
  background-color: white;
}


#mySearch {

  cursor: pointer;
}

.center {

    text-align: center;
}

.title {

    font-size: 20px;
    border-bottom-style: solid;
    margin-bottom: 10px;
    margin-top: 10px;

}

#reminders {

    border-bottom-style: solid;
}

#sidebar {

    background-color: darkblue;
    color: white;
    padding: 10px;
}

.scroll {
    color: #fff;
    margin-top: 100px
}

#toTopBtn {
    position: fixed;
    bottom: 26px;
    right: 39px;
    z-index: 98;
    padding: 21px;
    background-color: hsla(5, 76%, 62%, .8)
}

.js .cd-top--fade-out {
    opacity: .5
}

.js .cd-top--is-visible {
    visibility: visible;
    opacity: 1
}

.js .cd-top {
    visibility: hidden;
    opacity: 0;
    transition: opacity .3s, visibility .3s, background-color .3s
}

.cd-top {
    position: fixed;
    bottom: 20px;
    bottom: var(--cd-back-to-top-margin);
    right: 20px;
    right: var(--cd-back-to-top-margin);
    display: inline-block;
    height: 40px;
    height: var(--cd-back-to-top-size);
    width: 40px;
    width: var(--cd-back-to-top-size);
    box-shadow: 0 0 10px rgba(0, 0, 0, .05) !important;
    background: url(https://res.cloudinary.com/dxfq3iotg/image/upload/v1571057658/cd-top-arrow.svg) no-repeat center 50%;
    background-color: hsla(5, 76%, 62%, .8);
    background-color: hsla(var(--cd-color-3-h), var(--cd-color-3-s), var(--cd-color-3-l), 0.8)
}